{% extends 'brands_base.html' %}
{% load static %}
{% block title %}brands{% endblock %}
{% block page_content %}
<!-- content -->
<div class="col-10 mx-auto pt-5 mt-5">
    <!-- <div class="d-flex justify-content-end">
        <button class="rounded-pill btn text-white d-flex align-items-center gap-1 py-2 ps-3" data-bs-toggle="modal" data-bs-target="#brand_data" style="background-color: rgb(59, 5, 251);">Add brands <span class="material-symbols-outlined">add</span></button>
    </div> -->
    <table class="table rounded overflow-hidden rounded-1">
        <thead>
            <tr>
                <th scope="col" class="fw-normal px-sm-5 py-3">Brand</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="d-flex align-items-center justify-content-between py-4 px-sm-5">
                <div class="d-flex align-items-center gap-3">
                    <div class="rounded-circle overflow-hidden" id="comp_logoholder" style="width: 45px; height: 45px; background-color: #cdcdff; display: flex; justify-content: center; align-items: center; color: #7148fc; font-size: 20px; font-weight: light;z-index:0;">
                        {% if company.company_name %}
                            <span class="position-absolute">{{company_shortname}}</span>
                        {% else %}
                            <span class="profile-picture position-absolute"></span>
                        {% endif %}
                        {% if company.company_logo.url != '/default_photos/spotfay_pro_com.png' %}
                            <img src="{{company.company_logo.url}}" style="object-fit: cover;width:100%;height:100%;z-index:100;" alt="">            
                        {% endif %}
                    </div>
                    {% if company.company_name %}
                        <h6 class="my-0">{{company.company_name}}</h6>      
                    {% else %}
                        <h6 class="my-0">Your brand Name</h6>      
                    {% endif %}
                </div>
                <button class="btn p-0 border-0 text-secondary" data-bs-toggle="modal" data-bs-target="#brand_data" style="font-variation-settings: 'FILL'1;"><span class="material-symbols-outlined">edit</span></button>
            </th>
            </tr>

        </tbody>
    </table>
</div>

  <!-- Personal Info modal -->
  <div class="modal fade" dir="ltr" id="brand_data" tabindex="-1" aria-labelledby="brand_data_Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content mx-auto border-0">
        <form method="POST" id="company_form" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="modal-body p-3 pe-md-4">
        <!-- modal body -->
                <div class="card mb-3 border-0 col-12">
                    <div class="row g-0">
                      <div class="d-sm-block d-md-flex gap-2" style="height: fit-content;">
                        <input type="file"  id="custom-input" accept="image/*" name="logo" style="display: none;">
                        <label for="custom-input" type="button" style="background-color: #eef0f4;aspect-ratio:1;border: dotted #dadee3 2px" id="logo_holder_modal" class="btn col-12 col-md-6 position-relative mx-auto justify-content-center d-flex align-items-center">
                            <div class="">
                                <h6 style="font-size:16px;" class="">Upload an image</h6>
                                <span class="material-symbols-outlined d-block text-center fw-semibold fs-1 my-3" style="font-size:16px;">upload</span>
                                <h6 class="mb-0" style="font-size:16px;">PNG or JPG</h6>
                                <h6 class="mb-0" style="font-size:16px;">Minimum resolution</h6>
                                <h6 class="mb-0" style="font-size:16px;">500x500 or higher.</h6>
                            </div>
                        </label>
                        <!-- hidden input form detection -->
                            <input type="hidden" name="form_type" value="brand_data">
                            <!-- form active fields -->
                            <div class="col-sm- col-md-6">
                                <div class="card-body d-flex flex-column gap-3 gap-md-0 justify-content-between py-0 px-0" style="height: 100%;">
                                    <div class="">
                                        <label class="form-label mb-0 mt-3 mt-md-0" for="brand_name">Brand name</label>
                                        <input type="text" name="name" value="{{company.company_name|default_if_none:""}}" placeholder="Write here your brand name" id="brand_name" class="form-control" style="background-color: #eef0f4;">
                                    </div>
                                    <div class="">
                                        <label class="form-label mb-0" for="brand_Industry">Industry</label>
                                        <input type="text" name="activity" value="{{company.company_activity|default_if_none:""}}" id="brand_Industry" class="form-control" style="background-color: #eef0f4;" placeholder="Write your industry field">
                                    </div>
                                    <div class="">
                                        <label for="brand_country" class="form-label mb-0">Country</label>
                                        <select class="form-select" aria-label="Default select example" id="brand_country" name="country" style="background-color: #eef0f4;" required>
                                            <option disabled {% if not company.company_country %}selected{% endif %}>Select your country</option>
                                            <option value="السعودية" {% if company.company_country == "السعودية" %}selected{% endif %}>السعودية</option>
                                            <option value="الإمارات" {% if company.company_country == "الإمارات" %}selected{% endif %}>الإمارات</option>
                                            <option value="قطر" {% if company.company_country == "قطر" %}selected{% endif %}>قطر</option>
                                            <option value="البحرين" {% if company.company_country == "البحرين" %}selected{% endif %}>البحرين</option>
                                            <option value="الكويت" {% if company.company_country == "الكويت" %}selected{% endif %}>الكويت</option>
                                            <option value="عمان" {% if company.company_country == "عمان" %}selected{% endif %}>عمان</option>
                                          </select>                                        
                                    </div>
                                </div>
                        </div>
                        </div>
                        <label class="text-muted fs-6 pt-0 form-label mt-4" for="weblink">Website link</label><br>
                        <input type="text" name="weblink" value="{{company.company_weblink|default_if_none:""}}" id="weblink" class="form-control" style="background-color: #eef0f4;" placeholder="https://wxample.com/">
                    </div>
                </div>
            </div>
                <div class="row row-cols-1 row-cols-md-2 g-3 g-md-5 mb-3 px-3 d-flex flex-md-row flex-column-reverse">
                    <div class="col">
                        <button type="button" class="btn border border-2 fw-semibold col-12 fw-light rounded-pill p-2" data-bs-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-success fw-semibold col-12 fw-light rounded-pill p-2" style="background-color: #4A0EFB;">add brand</button>
                    </div>
                </div>
        </form>
    </div>
    </div>
</div>


<script>
    let logo_input = document.getElementById("custom-input")
    let logo_holder_modal = document.getElementById("logo_holder_modal")
    logo_holder_modal.addEventListener("click", function() {
        logo_input.addEventListener("change", function() {
          const file = logo_input.files[0];
          const reader = new FileReader();
          reader.onload = function() {
            const fileContent = reader.result;
            logo_holder_modal.innerHTML = `<img src="${fileContent}" class="rounded" alt="" style="height: auto;width: 100%">`;
          };
          reader.readAsDataURL(file);
        });
      });



    document.querySelectorAll('*').forEach(element => {
        if (element.innerText === "None") {
            element.innerText = "";
        }
    });
</script>    
{% endblock %}