``{% extends 'brands_base.html' %}
{% load static %}
{% block title %}payments{% endblock %}
{% block page_content %}
<div class="container mt-3" dir="ltr" style="height: 100vh;">
    <div class="container  mt-3 col-8">
      <h4>Wallet</h4>
    </div>
    <div class="container mt-3 bg-white p-4 pb-3 rounded shadow-lg col-8">
      <h5 class="text-secondary fw-light">Wallet balance</h5>
      <div class="d-flex align-items-center mb-4 justify-content-between">
        <h3 class="text-dark fw-normal">{{ wallet_balance }}0$</h3>
        <button class="btn text-white rounded rounded-pill px-4" style="background-color: #4A0EFB;">+ Top up balance</button>
      </div>
      <hr class="mb-5">
      <div class="container-fluid">
        {% for card in payment_methods %}
          <div class="card mb-3 p-2 rounded rounded-5 bg-light border-0 shadow-sm" style="width:100%;">
            <div class="row g-0 d-flex align-items-center justify-content-evenly">
              <div class="col-md-2">
                {% if card.card_type == "visa" %}
                <img src="{% static 'imgs/visa.png' %}" class="img-fluid rounded-start col-12" style="margin: auto;" alt="...">
                {% elif card.card_type == "mastercard" %}
                <img src="{% static 'imgs/mastercard.png' %}" class="img-fluid rounded-start col-12" style="margin: auto;" alt="...">
                {% elif card.card_type == "amex" %}
                <img src="{% static 'imgs/amex.png' %}" class="img-fluid rounded-start col-12" style="margin: auto;" alt="...">
                {% else %}
                <img src="{% static 'imgs/visa.png' %}" class="img-fluid rounded-start col-12" style="margin: auto;" alt="...">
                {% endif %}
                  </div>
              <div class="col-md-9 d-flex align-items-center justify-content-between">
                <div class="card-body">
                  <h5 class="card-title">{{card.card_holder_name}} **** {{card.last4}}</h5>
                  <p class="card-text mb-0"><small class="text-body-secondary fw-light">Expires 5/2025</small></p>
                  <p class="card-text"><small class="text-body-secondary fw-light">Added on 2021-08-19</small></p>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_function" value="delete_card">
                    <input type="hidden" name="deletedcard" value="{{card.id}}">
                    <button type="submit" class="p-0 bg-transparent border-0"><span class="material-symbols-outlined me-3 text-danger fs-3">delete</span></button>
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
        <button class="btn border-1 px-4 rounded rounded-3" style="border-color: #4A0EFB;color:#4A0EFB;" data-bs-toggle="modal" data-bs-target="#addnewcard">Add new card</button>
      </div>

    </div>
  
<!-- Modal -->
<div class="modal fade" id="addnewcard" tabindex="-1" aria-labelledby="addnewcardLabel" aria-hidden="true" dir="ltr">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
          <h1 class="modal-title fs-5 fw-bold" id="addnewcardLabel">Add a new card</h1>
          <div class="d-flex align-items-center">
              <img style="max-width: 10rem;" src="{% static 'imgs/cards.png' %}" alt="">
          </div>
      </div>
      <div class="modal-body">
      <form id="payment-method-form" action="{% url 'brands_payments'%}" method="post">
          {% csrf_token %}
          <div class="form-floating mb-3">
            <input type="hidden" name="form_function" value="add_card">
            <input type="text" class="form-control" id="card-holder-name" placeholder="name@example.com" name="card_holder_name" required>
            <label for="card-holder-name" class="text-muted">Card Holder's Name</label>
          </div>
        <div id="card-element"></div>
        </div>
        <div class="modal-footer border-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit"class="btn btn-primary">Save Card</button>

        </div>
    </form>
    </div>
  </div>
</div>

<!-- stripe script -->
<script>
  var stripe = Stripe('{{ stripe_publishable_key }}');
  var stripe_elements = stripe.elements();
  var card = stripe_elements.create('card');
  card.mount('#card-element');

  var form = document.getElementById('payment-method-form');
  form.addEventListener('submit', function(event) {
      event.preventDefault();

      stripe.createToken(card, {
          name: document.getElementById('card-holder-name').value
      }).then(function(result) {
          if (result.error) {
              console.log(result.error.message);
          } else {
              var hiddenInput = document.createElement('input');
              hiddenInput.setAttribute('type', 'hidden');
              hiddenInput.setAttribute('name', 'stripeToken');
              hiddenInput.setAttribute('value', result.token.id);
              form.appendChild(hiddenInput);
              form.submit();
          }
      });
  });
</script>
<!-- <script>
    let submitBtn = document.getElementById("submit-btn");
    let expirationyearInput = document.getElementById("expirationyear");
    let expirationmonthInput = document.getElementById("expirationmonth");
    let yearError = document.getElementById("year-error");
    let monthError = document.getElementById("month-error");
    let cvvError = document.getElementById("cvv-error");
    
    function cardvalidator(input) {
        let year = expirationyearInput.value.length;
        let month = expirationmonthInput.value.length;

        if(year == 2 && month == 2){
            cvvError.textContent=""
            submitBtn.disabled = false
        }else{
            cvvError.textContent="Invalid card data"
            submitBtn.disabled = true
            
        }
    }
</script> -->
<!-- card no. counter
<script>
    let mycard = document.getElementById('mycard')
    let mycardnum = '{{payment_methods_no}}'
    
    if(mycardnum == 0){
        mycard.textContent = "no cards added yet"
    }else if(mycardnum == 1){
        mycard.textContent = "to view your card"
    }else{
        mycard.textContent = "to view your " + mycardnum + " cards"
    }
</script> -->
{% endblock %}