{% extends 'creators_base.html' %}
{% load static %}
{% block page_title %}profile{% endblock %}
{% block page_content %}
<!-- page content -->
  <div class="container me-auto me-lg-5 shadow-lg col-11 col-lg-7" style="background-color: white;margin-top:10rem;" dir="rtl">
    <div class="d-flex justify-content-between p-3" style="width: 100%;">
      <h2 class="fs-4">معلومات الدفع</h2>
    </div>
    <div class="pt-5 pe-0 pe-lg-5 col-12 col-lg-7" style="padding-bottom: 2rem;">
      <img class="col-12" src="{% static 'imgs/paypal.png' %}">
      <p class="fs-5 fw-normal">سيتم تحويل المدفوعات مباشرة إلى<br>حسابك في PayPal.</p>
      <form method="POST">
        {% csrf_token %}
        <input type="text" class="form-control bg-light mb-3" name="paypal_email" value="{{payment_info.paypal_email}}" required placeholder="Enter Paypal email">
        <button class="btn mt-5 btn-secondary fw-semibold rounded-pill px-4">save</button>
      </form>
    </div>
  </div>
  
{% endblock %}