{% extends 'creators_base.html' %}
{% load static %}
{% block page_title %}jobs{% endblock %}
{% block page_content %}

  <!-- content -->
  <div class="container mt-5">
    <ul class="nav nav-underline gap-0 mb-3 border-bottom border-3" id="underline-tab" role="tablist">
        <li class="nav-item ms-md-5" style="bottom: 0;" role="presentation">
          <button class="nav-link text-muted active d-flex align-items-center fw-light ps-3 px-sm-5 position-relative" style="font-size: 18px;top:3px;" id="all-jobs-tab" data-bs-toggle="pill" data-bs-target="#all-jobs" type="button" role="tab" aria-controls="underline-all-jobs" aria-selected="true"><span class="material-symbols-outlined">sort</span>All jobs {% if all_projects|length != 0 %}({{all_projects|length}}){% endif %}</button>
        </li>
        <li class="nav-item" style="bottom: 0;" role="presentation">
          <button class="nav-link text-muted d-flex align-items-center gap-1 fw-light px-3 position-relative px-sm-5" style="font-size: 18px;top:3px;" id="active-tab" data-bs-toggle="pill" data-bs-target="#active" type="button" role="tab" aria-controls="underline-active" aria-selected="false"><span class="material-symbols-outlined">checklist</span>Active {% if active_projects|length != 0 %}({{active_projects|length}}){% endif %}</button>
        </li>
      </ul>
      <div class="tab-content" id="underline-tabContent">
        <div class="tab-pane fade show active" id="all-jobs" role="tabpanel" aria-labelledby="all-jobs-tab" tabindex="0">
            <!-- all jobs tab content -->
             <div class="bg-white rounded px-0 pt-4 mb-5 shadow-sm container mx-0">
                <h5 class="ms-md-5 ps-3">Product</h5>
                <hr class="text-secondary fw-bold bg-secondary mx-0" size="4px">
                {% for project in all_projects|slice:"::-1" %}
                  <div class="d-flex align-items-center mx-md-5 col-lg-9 col-xl-8 col-xxl-7 px-3 justify-content-between">
                    <div class="card mb-3 border-0 d-flex align-items-center">
                        <div class="g-0 d-flex align-items-center">
                          <div class="col-m-3">
                            <img src="{{project.product_img.url}}" class="img-fluid rounded" style="max-height: 100px;max-width: 80px;" alt="img/profile.jpg">
                          </div>
                          <div class="col-md-12">
                            <div class="ps-2 py-0" style="width:max-content;">
                              <h5 class="card-title text-limit" data-bs-toggle="modal" data-bs-target="#see_details{{project.id}}" style="cursor: pointer;">{{project.project_name}}</h5>
                              <div class="d-flex align-items-center order-data gap-1">
                                <h6 class="d-flex align-items-center order-data text-secondary"><span class="material-symbols-outlined fs-6 me-1" style="font-variation-settings: 'FILL'1;">videocam</span>{{project.num_of_videos}}</h6>
                                <h6 class="d-flex align-items-center order-data text-secondary"><span class="material-symbols-outlined fs-6" style="font-variation-settings: 'FILL'1;">attach_money</span>{{project.creators_price|floatformat:0}}</h6>
                                <h6 class="d-flex align-items-center order-data text-secondary"><span class="material-symbols-outlined fs-6 me-1">schedule</span>{{project.created_at|date:"Y-m-d"}}</h6>
                              </div>
                              {% if project.order_status == "completed" %}
                                <h6 class="d-flex align-items-center"><span class="material-symbols-outlined text-success fs-5" style="font-variation-settings: 'FILL'1;">fiber_manual_record</span>Completed</h6>
                              {% elif project.order_status == "cancelled" %}
                                <h6 class="d-flex align-items-center"><span class="material-symbols-outlined text-danger fs-5" style="font-variation-settings: 'FILL'1;">fiber_manual_record</span>Cancelled</h6>
                              {% else %}
                                <h6 class="d-flex align-items-center"><span class="material-symbols-outlined text-warning fs-5" style="font-variation-settings: 'FILL'1;">fiber_manual_record</span>Underprocess</h6>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                      <a href="{% url 'creators_orderdetails' project.id %}" class="bg-transpard btn text-color d-none d-lg-block border-1 px-5 py-1" style="border-color: #3800fa;">See details</a>
                      <div class="btn-group d-lg-none">
                        <button class="btn border-0 m-0 p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="material-symbols-outlined">
                                more_vert
                                </span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'creators_orderdetails' project.id %}" class="dropdown-item btn">See Details</a></li>
                        </ul>
                      </div>                      
                </div> 
                <!-- see datails modal -->
                <div class="modal fade" id="see_details{{project.id}}" tabindex="-1" aria-labelledby="see-details-Label" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header d-block d-md-none border-0" dir="rtl">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>        
                      <div class="modal-body px-0 px-md-4">
                          <div class="card mb-0 border-0" style="max-width: 540px;">
                              <div class="row g-0">
                                <div class="col-md-6 col-12 d-flex justify-content-center align-items-center">
                                  <img src="{{project.product_img.url}}" class="img-fluid col-10 rounded" alt="...">
                                </div>
                                <div class="col-md-6">
                                  <div class="card-body px-0 px-md-2">
                                      <!-- Brand -->
                                      <div class="d-flex mx-4 mx-md-0 align-items-center mb-3 gap-2">
                                          <div class="rounded-circle d-flex align-items-center justify-content-center profile-picture overflow-hidden" style="width:2.5rem;height:2.5rem;">
                                          <img src="{{project.company.company_logo.url}}" style="object-fit:cover;" class="w-100 h-100" alt="...">
                                          </div>
                                          <div class="">
                                          <h6 class="mb-1 text-secondary">Brand</h6>
                                          <h5 class="mb-0">{{project.company.company_name}}</h5>
                                          </div>
                                      </div>
                                      <hr class="text-secondary fw-bold bg-secondary mx-0 d-block d-md-none" size="4px">
                                      <h5 class="mb-2 mx-4 mx-md-0">{{project.project_name}}</h5>
                                      <div class="d-flex align-items-center mx-4 mx-md-0 justify-content-between">
                                        <h6 class="text-secondary">Earnings</h6>
                                        <h5 class="d-flex align-items-center">{{project.creators_price|floatformat:0}}<span class="material-symbols-outlined">attach_money</span></h5>
                                      </div>
                                      <div class="d-flex align-items-center mx-4 mx-md-0 justify-content-between">
                                        <h6 class="text-secondary">Product value</h6>
                                        <h6>{{project.product_description}}$</h6>  <!-- add_product_value -->
                                      </div>
                                      <a href="https://{{project.product_link}}" class="d-flex align-items-center mx-4 mx-md-0 gap-3 mt-2 text-decoration-none" style="color:rgb(17	102	253);">Product link <span class="material-symbols-outlined">arrow_outward</span></a>
                                  </div>
                              </div>
                          </div>
                            </div>
                          <hr class="text-secondary fw-bold bg-secondary mx-0 my-0" size="4px">
                          <h5 class="mb-3 mt-3 mx-4 mx-md-0">Job details</h5>
                          <div class="d-flex align-items-center mx-4 mx-md-0 col-8 justify-content-between">
                              <h6 class="text-secondary">Video duration</h6>
                              <h6>{{project.video_duration}} sec.</h6>
                          </div>
                          <div class="d-flex align-items-center mx-4 mx-md-0 col-8 justify-content-between">
                              <h6 class="text-secondary">Content format</h6>
                              <h6>{{project.video_size}}</h6>
                          </div>
                          <div class="d-flex align-items-center mx-4 mx-md-0 col-8 justify-content-between">
                              <h6 class="text-secondary">Content type</h6>
                              <h6>{{project.video_type}}</h6>
                          </div>        
                          {% if project.additional_notes != "" %}
                            <hr class="text-secondary fw-bold bg-secondary mx-0 my-3" size="4px">
                            <h5 class="mb-3 mx-4 mx-md-0">Job description</h5>
                            <p class="text-secondary mx-4 mx-md-0 fs-6">
                              {{project.additional_notes}}
                            </p>        
                          {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
          

                <hr class="text-secondary fw-bold bg-secondary mx-0" size="4px">
                {% endfor %}
                
             </div>
        </div>
        <div class="tab-pane fade" id="active" role="tabpanel" aria-labelledby="active-tab" tabindex="0">
            <!-- active tab content -->
            <div class="bg-white rounded px-0 pt-4 mb-5 shadow-sm container mx-0">
                <h5 class="ms-md-5 ps-3">Product</h5>
                <hr class="text-secondary fw-bold bg-secondary mx-0" size="4px">
                {% for project in active_projects|slice:"::-1" %}
                <div class="d-flex align-items-center mx-md-5 col-lg-9 col-xl-8 col-xxl-7 px-3 justify-content-between">
                  <div class="card mb-3 border-0 d-flex align-items-center">
                      <div class="g-0 d-flex align-items-center">
                        <div class="col-m-3">
                          <img src="{{project.product_img.url}}" class="img-fluid rounded" style="max-height: 100px;max-width: 80px;" alt="img/profile.jpg">
                        </div>
                        <div class="col-md-12">
                          <div class="ps-2 py-0" style="width:max-content;">
                            <h5 class="card-title text-limit" data-bs-toggle="modal" data-bs-target="#active_details{{project.id}}" style="cursor: pointer;">{{project.project_name}}</h5>
                            <div class="d-flex align-items-center order-data gap-1">
                              <h6 class="d-flex align-items-center order-data text-secondary"><span class="material-symbols-outlined fs-6 me-1" style="font-variation-settings: 'FILL'1;">videocam</span>{{project.num_of_videos}}</h6>
                              <h6 class="d-flex align-items-center order-data text-secondary"><span class="material-symbols-outlined fs-6" style="font-variation-settings: 'FILL'1;">attach_money</span>{{project.creators_price|floatformat:0}}</h6>
                              <h6 class="d-flex align-items-center order-data text-secondary"><span class="material-symbols-outlined fs-6 me-1">schedule</span>{{project.created_at|date:"Y-m-d"}}</h6>
                            </div>
                            {% if project.order_status != "cancelled" or project.order_status != "completed" %}
                              <h6 class="d-flex align-items-center"><span class="material-symbols-outlined text-warning fs-5" style="font-variation-settings: 'FILL'1;">fiber_manual_record</span>Underprocess</h6>
                            {% elif project.order_status == "cancelled" %}
                              <h6 class="d-flex align-items-center"><span class="material-symbols-outlined text-danger fs-5" style="font-variation-settings: 'FILL'1;">fiber_manual_record</span>Cancelled</h6>
                            {% elif project.order_status == "completed" %}
                              <h6 class="d-flex align-items-center"><span class="material-symbols-outlined text-success fs-5" style="font-variation-settings: 'FILL'1;">fiber_manual_record</span>Completed</h6>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                    <a href="{% url 'creators_orderdetails' project.id %}" class="bg-transpard btn text-color d-none d-lg-block border-1 px-5 py-1" style="border-color: #3800fa;">See details</a>
                    <div class="btn-group d-lg-none">
                      <button class="btn border-0 m-0 p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <span class="material-symbols-outlined">
                              more_vert
                              </span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'creators_orderdetails' project.id %}" class="dropdown-item btn">See Details</a></li>
                      </ul>
                    </div>                      
                </div>  
                <!-- see datails modal -->
                <div class="modal fade" id="active_details{{project.id}}" tabindex="-1" aria-labelledby="see-details-Label" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header d-block d-md-none border-0" dir="rtl">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>        
                      <div class="modal-body px-0 px-md-4">
                          <div class="card mb-0 border-0" style="max-width: 540px;">
                              <div class="row g-0">
                                <div class="col-md-6 col-12 d-flex justify-content-center align-items-center">
                                  <img src="{{project.product_img.url}}" class="img-fluid col-10 rounded" alt="...">
                                </div>
                                <div class="col-md-6">
                                  <div class="card-body px-0 px-md-2">
                                      <!-- Brand -->
                                      <div class="d-flex mx-4 mx-md-0 align-items-center mb-3 gap-2">
                                          <div class="rounded-circle d-flex align-items-center justify-content-center profile-picture overflow-hidden" style="width:2.5rem;height:2.5rem;">
                                          <img src="{{project.company.company_logo.url}}" style="object-fit:cover;" class="w-100 h-100" alt="...">
                                          </div>
                                          <div class="">
                                          <h6 class="mb-1 text-secondary">Brand</h6>
                                          <h5 class="mb-0">{{project.company.company_name}}</h5>
                                          </div>
                                      </div>
                                      <hr class="text-secondary fw-bold bg-secondary mx-0 d-block d-md-none" size="4px">
                                      <h5 class="mb-2 mx-4 mx-md-0">{{project.project_name}}</h5>
                                      <div class="d-flex align-items-center mx-4 mx-md-0 justify-content-between">
                                        <h6 class="text-secondary">Earnings</h6>
                                        <h5 class="d-flex align-items-center">{{project.creators_price|floatformat:0}}<span class="material-symbols-outlined">attach_money</span></h5>
                                      </div>
                                      <div class="d-flex align-items-center mx-4 mx-md-0 justify-content-between">
                                        <h6 class="text-secondary">Product value</h6>
                                        <h6>{{project.product_description}}$</h6>  <!-- add_product_value -->
                                      </div>
                                      <a href="https://{{project.product_link}}" class="d-flex align-items-center mx-4 mx-md-0 gap-3 mt-2 text-decoration-none" style="color:rgb(17	102	253);">Product link <span class="material-symbols-outlined">arrow_outward</span></a>
                                  </div>
                              </div>
                          </div>
                            </div>
                          <hr class="text-secondary fw-bold bg-secondary mx-0 my-0" size="4px">
                          <h5 class="mb-3 mt-3 mx-4 mx-md-0">Job details</h5>
                          <div class="d-flex align-items-center mx-4 mx-md-0 col-8 justify-content-between">
                              <h6 class="text-secondary">Video duration</h6>
                              <h6>{{project.video_duration}} sec.</h6>
                          </div>
                          <div class="d-flex align-items-center mx-4 mx-md-0 col-8 justify-content-between">
                              <h6 class="text-secondary">Content format</h6>
                              <h6>{{project.video_size}}</h6>
                          </div>
                          <div class="d-flex align-items-center mx-4 mx-md-0 col-8 justify-content-between">
                              <h6 class="text-secondary">Content type</h6>
                              <h6>{{project.video_type}}</h6>
                          </div>        
                          {% if project.additional_notes != "" %}
                            <hr class="text-secondary fw-bold bg-secondary mx-0 my-3" size="4px">
                            <h5 class="mb-3 mx-4 mx-md-0">Job description</h5>
                            <p class="text-secondary mx-4 mx-md-0 fs-6">
                              {{project.additional_notes}}
                            </p>        
                          {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
          

                <hr class="text-secondary fw-bold bg-secondary mx-0" size="4px">
                {% endfor %}
             </div>
        </div>
      </div>
   </div>

{% endblock %}