{% load static %}
 {% load django_bootstrap5 %}    
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title">{% block page_title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'creators/imgs/spotfay_mobi.png' %}" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{% static 'creators/css/style.css' %}">
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg shadow-sm navbar-white bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'creators_offers' %}"><img src="{% static 'creators/imgs/spotfay.png' %}" alt="Spotfay Logo" style="width: 120px;"></a>
        <button class="navbar-toggler border border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="offcanvasright">
        <span class="material-symbols-outlined fs-1 fw-bold">menu</span>
      </button>
      <div class="offcanvas offcanvas-end w-75" tabindex="-1" id="sidebar" aria-labelledby="offcanvasright">
        <div class="offcanvas-header d-sm-block d-md-block d-lg-none mt-5">
            <div class="d-block">
            <!-- sm screens profile img -->
            <div class="rounded-circle profile-picture d-flex align-items-center justify-content-center" style="width: 50px; height: 50px;overflow:hidden;background-color:#c2faff;color: #3dd2ff;" id="logoholder_sm">
              
            </div>
            
            <h5 class="offcanvas-title my-1" id="offcanvasLabel">{{username}}</h5>
            <h6 class="offcanvas-title text-dark text-opacity-75 fw-light" id="offcanvasLabel">{{user.email}}</h6>
          </div>
        </div>
          <hr class="m-0 text-secondary d-sm-block d-md-block d-lg-none fw-bold bg-secondary" size="4px">
        <div class="offcanvas-body d-lg-flex justify-content-center px-0">
          <ul class="navbar-nav mb-2 mb-lg-0 gap-3 px-3 px-lg-0">
            <li class="nav-item"><a class="nav-link fs-6" href="{% url 'creators_offers' %}" id="offers">offers</a></li>
            <li class="nav-item"><a class="nav-link fs-6" href="{% url 'creators_jobs' %}" id="jobs">Jobs</a></li>
            <li class="nav-item"><a class="nav-link fs-6" href="{% url 'creators_wallet' %}" id="wallet">Wallet</a></li>
          </ul>
          <hr class="m-0 text-secondary fw-bold bg-secondary" size="4px">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-3 d-sm-block d-md-block d-lg-none">
            <li class="nav-item"><a class="nav-link fs-5" id="profile" href="{% url 'creators_profile' %}">Account</a></li>
            <li class="nav-item"><a class="nav-link fs-5" id="payout_method" href="{% url 'payment_method' %}">Payout method</a></li>
            <li class="nav-item"><a class="nav-link fs-5" target="_blank" href="https://help.spotfay.com/creators/">Contact support</a></li>
            <li class="nav-item"><a href="{% url 'creators_logout' %}" class="nav-link align-items-center d-flex text-danger">Log out<span class="material-symbols-outlined ms-1">logout</span></a></li>
          </ul>
          
        </div>
      </div>
      <ul class="navbar-nav d-flex align-items-center gap-3 justify-content-end d-none d-lg-flex">
          <li class="nav-item"><a class="nav-link p-0 m-0" target="_blank" href="https://help.spotfay.com/creators/"><span class="material-symbols-outlined">contact_support</span></a></li>
          <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <!-- lg screens profile img -->
              <div class="rounded-circle profile-picture d-flex align-items-center justify-content-center" style="width: 30px; height: 30px;overflow:hidden;background-color:#c2faff;color: #3dd2ff;" id="logoholder_lg">
                
              </div>
              </a>
              <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="profileDropdown">
              <li><a class="dropdown-item" href="{% url 'creators_profile' %}">Account</a></li>
              <li><a class="dropdown-item" href="{% url 'payment_method' %}" id="payout_method">Payout method</a></li>
              <li><a class="dropdown-item" target="_blank"  href="https://help.spotfay.com/creators/">Contact support</a></li>
              <li><a href="{% url 'creators_logout' %}" class="dropdown-item align-items-center d-flex text-danger">Log out<span class="material-symbols-outlined ms-1">logout</span></a></li>
            </ul>
          </li>
      </ul>
    </div>
  </nav>


  {% block page_content %}
  <!-- page content here -->
  {% endblock %}


<!-- Add the toast container to your HTML -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
<div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div id="toast-body" class="toast-body">

    </div>
  </div>
</div>
</div>


  <!-- video player script -->
  <script>
      // Function to pause and reset video
      function stopVideo(videoElement) {
          if (videoElement) {
              videoElement.pause();
              videoElement.currentTime = 0;
          }
      }
  
      {% for video in previous_works %}
          (function() {
              // Select the modal
              let modal = document.getElementById('videoModal{{ video.id }}');
              let videoElement = document.getElementById('videoPlayer{{ video.id }}');
  
              // Create an observer to watch for changes in the modal's style attribute
              let observer = new MutationObserver(function(mutations) {
                  mutations.forEach(function(mutation) {
                      if (mutation.attributeName === "style") {
                          let displayStyle = window.getComputedStyle(modal).display;
                          if (displayStyle === 'none') {
                              stopVideo(videoElement);
                          }
                      }
                  });
              });
  
              // Start observing the modal for attribute changes
              observer.observe(modal, { attributes: true });
          })();
      {% endfor %}
  </script>

    <!-- link detector -->
  <script>
    let page_title = document.getElementById('title').innerHTML;
    const elements = {
      //  dashboard: document.getElementById('dashboard'),
        jobs: document.getElementById('jobs'),
        offers: document.getElementById('offers'),
        wallet: document.getElementById('wallet'),
        wallet: document.getElementById('wallet'),
      //  gallery: document.getElementById('gallery'),
        profile: document.getElementById('profile'),
        payout_method: document.getElementById('payout_method'),
      //  help_center: document.getElementById('help_center'),
    };
 
    for(let id in elements){
        if(elements[id].id == page_title){
            elements[id].classList.add("active-element");
        }else{
            elements[id].classList.remove('active-element');          
        }
    }
  </script>
  
  <!-- logoholder -->
  <script>
    let logoholder_lg = document.getElementById('logoholder_lg')
    let logoholder_sm = document.getElementById('logoholder_sm')
    let logourl = '{{userinfos.user_profile.url}}'
    if (logourl == '/default_photos/spotfay_pro_com.png'){
      logoholder_lg.innerHTML = `<span class="profile" style="font-size:smaller;"></span>`
      logoholder_sm.innerHTML = `<span class="profile" style="font-size: larger;"></span>`
    }else{
      logoholder_lg.innerHTML = `<img src="${logourl}" alt="Profile Picture" style="width: 100%; height: 100%; object-fit: cover;">`;
      logoholder_sm.innerHTML = `<img src="${logourl}" alt="Profile Picture" style="width: 100%; height: 100%; object-fit: cover;">`;
    }
    let realusername = '{{username}}';
    function firstLettersOfWords(realusername) {
        return realusername.split(' ').map(word => word.charAt(0).toUpperCase()).join('');
        }
    document.querySelectorAll(".profile").forEach(function(element) {
    element.innerText = firstLettersOfWords(realusername);
    });
  
  </script>

  <script src="{% static 'creators/js/script.js' %}"></script>
</body>
</html>