{% extends 'creators_base.html' %}
{% load static %}
{% block page_title %}checko{% endblock %}
{% block page_content %}

<!-- content -->
<div class="container mt-4">
    <h3>Payment method</h3>
    <div class="container py-4 px-sm-1 px-md-5 px-lg-5 mt-lg-4 bg-white shadow-sm rounded">
        <div class="col-sm-12 col-md-7 col-lg-5 p-0 m-0">
            <form method="POST">
                {% csrf_token %}
                <p class="fw-light">Your payouts will be sent to your Paypal account. <br> Please note: we currently only support payment via PayPal.</p>
                <label for="paypal_account" class="mt-3">Paypal email account</label>
                <input type="email" required class="form-control paypal-email p-2 my-3" id="paypal_account" value="{% if paymentinfo.paypal_email != None %}{{paymentinfo.paypal_email}}{% endif %}" style="background-color: #eceff2;" name="payment_method" placeholder="name@example.com">
                <div class="d-flex align-items-center gap-4 justify-content-end">
                    <a href="{% url 'creators_wallet' %}" class="btn border-dark bg-transparent rounded-pill px-3">cancel</a>
                    <button type="submit" class="btn text-white rounded-pill px-4 rounded-pill" style="background-color: #3800fa;">Save</button>
                </div>     
            </form>
        </div>
    </div>
</div>

{% endblock %}