{% extends 'base.html' %}
{% block file_title %}SignUp{% endblock %}
{% block signup_class %}nav-link active w-100 fw-bold{% endblock %}
{% block login_class %}nav-link w-100{% endblock %}
{% block auth_type %}
  {% if request.GET.next %}
    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.GET.next }}" class="text-dark text-decoration-none">
      <h4 class="m-1 fs-4">Sign Up with Google</h4>
    </a>
  {% else %}
    <a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'creators_dash' %}" class="text-dark text-decoration-none">
      <h4 class="m-1 fs-4">Sign Up with Google</h4>
    </a>
  {% endif %}
{% endblock %}
{% block form_hieght %}style="max-height: 20.5rem;"{% endblock %}
{% block url_signup %}{% url 'creators_signup' %}{% endblock %}
{% block url_login %}{% url 'creators_login' %}{% endblock %}
{% block form %}
<form method="POST" class="position-relative">
    {% csrf_token %}
    <div class="">
        <input type="email" class="form-control text-center p-3 shadow-sm" id="email" name="email" required placeholder="yours@example.com">
    </div><small class="text-center text-danger"> {{error_message}} </small>
    <div class="my-3">
        <input type="password" oninput="passMatch()" class="form-control text-center p-3 shadow-sm" name="pass1" id="pass1" required placeholder="your password">
    </div>
    <div>
        <input type="password" oninput="passMatch()" class="form-control text-center p-3 shadow-sm" required name="pass2" id="pass2"  placeholder="(Re-type)your password">
    </div><small id="matchPass" class="text-center text-danger"></small>
    <div class="my-3">
        <input type="text" class="form-control text-center p-3 shadow-sm" required name="first_name" id="password"  placeholder="first name">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control text-center p-3 shadow-sm" required name="last_name" id="password"  placeholder="last name">
    </div>
    <button type="submit" id="submitBtn" class="btn btn-dark mt-2 shadow-lg fs-4 position-sticky w-100 bottom-0 mb-3" style="width: 77%;">Sign Up</button>
</form>
{% endblock %}
{% block policy_type %}signing up{% endblock %}
{% block js_part %}
<script>
let pass1 = document.getElementById( "pass1" );
        let pass2 = document.getElementById("pass2");
        let submit = document.getElementById( "submitBtn" );
        let matchPass = document.getElementById( "matchPass" ) ;
        function passMatch() {
            const password = pass1.value;
            const confirmPassword = pass2.value;

            const hasLength = password.length > 8;
            const hasUpperCase = /[A-Z]/.test(password);
            const hasLowerCase = /[a-z]/.test(password);
            const hasNumber = /[0-9]/.test(password);
            const hasSymbol = /[!@#$%^&*(),.?":{}|<>]/.test(password);

            if (password !== confirmPassword) {
                matchPass.innerHTML = "Passwords doesn't match.";
                submit.setAttribute("disabled", "disabled");
            } else if (!hasLength) {
                matchPass.innerHTML = "Password must be more than 8 characters.";
                submit.setAttribute("disabled", "disabled");
            } else if (!hasUpperCase) {
                matchPass.innerHTML = "Password must contain at least one uppercase letter.";
                submit.setAttribute("disabled", "disabled");
            } else if (!hasLowerCase) {
                matchPass.innerHTML = "Password must contain at least one lowercase letter.";
                submit.setAttribute("disabled", "disabled");
            } else if (!hasNumber) {
                matchPass.innerHTML = "Password must contain at least one number.";
                submit.setAttribute("disabled", "disabled");
            } else if (!hasSymbol) {
                matchPass.innerHTML = "Password must contain at least one symbol.";
                submit.setAttribute("disabled", "disabled");
            } else {
                matchPass.innerHTML = "";
                submit.removeAttribute("disabled");
            }
        }
</script>
{% endblock %}
